In [10]:
import pandas as pd

In [11]:
met_data = pd.read_csv("ref_docs/ref_csv_files/Met_Data_DF.csv")

In [13]:
met_data.head()

       Location Time_Code  TAN_F  TAX_F       I
0  Amarillo, TX         1   21.7   49.1   960.0
1  Amarillo, TX         2   26.1   53.1  1244.0
2  Amarillo, TX         3   32.0   60.8  1631.0
3  Amarillo, TX         4   42.0   71.0  2019.0
4  Amarillo, TX         5   51.9   79.1  2212.0